**Diplomatura en Ciencia de Datos, Aprendizaje Automático y sus Aplicaciones**

**Exploración y Curación de Datos**

**Grupo 28**<br>
Docente: Laura Montes

Integrantes:<br>

- Gustavo Alvarez Lupu
- Laura Hayas
- Maria Emilia Santacruz
- Nicolás Ambrosis

*Edición 2022*

----

# Trabajo práctico entregable - parte 1

En esta notebook, vamos a cargar el conjunto de datos de [la compentencia Kaggle](https://www.kaggle.com/dansbecker/melbourne-housing-snapshot) sobre estimación de precios de ventas de propiedades en Melbourne, Australia.

Utilizaremos el conjunto de datos reducido producido por [DanB](https://www.kaggle.com/dansbecker). Hemos subido una copia a un servidor de la Universidad Nacional de Córdoba para facilitar su acceso remoto.

In [ ]:
#Importacion de librerias
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn 
seaborn.set_context('talk')

#from decouple import config
from sqlalchemy import create_engine, text

In [ ]:
import plotly
plotly.__version__
# Make sure it's 4.14.3

'5.5.0'

## Ejercicio 1 SQL: 

1. Crear una base de datos en SQLite utilizando la libreria [SQLalchemy](https://stackoverflow.com/questions/2268050/execute-sql-from-file-in-sqlalchemy).
https://docs.sqlalchemy.org/en/14/core/engines.html#sqlite

2. Ingestar los datos provistos en 'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/melb_data.csv' en una tabla y el dataset generado en clase con datos de airbnb y sus precios por codigo postal en otra.

3. Implementar consultas en SQL que respondan con la siguiente información:

    - cantidad de registros totales por ciudad.
    - cantidad de registros totales por barrio y ciudad.

4. Combinar los datasets de ambas tablas ingestadas utilizando el comando JOIN de SQL  para obtener un resultado similar a lo realizado con Pandas en clase.


#### 1.1. Crear una base de datos en SQLite utilizando la libreria [SQLalchemy](https://docs.sqlalchemy.org/en/14/core/engines.html#sqlite).

In [ ]:
#Se crea el engine:

from sqlalchemy import create_engine

engine = create_engine('sqlite:///data.sqlite3')

#### 1.2. Ingresar los datos provistos en 'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/melb_data.csv' en una tabla y el dataset generado en clase con datos de airbnb y sus precios por codigo postal en otra.

#### Melbourne

In [ ]:
#Se genera un dataframe a partir de la lectura del csv de datos de melbourne:

melb_df = pd.read_csv('https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/melb_data.csv')

#Luego se realiza una breve inspeccion de los datos:

melb_df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [ ]:
#Se imprime la cantidad de columnas y filas del dataset de Melbourne.
print(f'El data set de Melbourne tiene {melb_df.shape[1]} columnas y {melb_df.shape[0]} filas u observaciones')

El data set de Melbourne tiene 21 columnas y 13580 filas u observaciones

In [ ]:
#Se inspecciona de forma sencilla las columnas y el tipo de datos almacenas en cada una de ellas.
print('Columnas en melb_df\n')
print(melb_df.dtypes)

Columnas en melb_df

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [ ]:
#Se procede a generar la tabla melb en SQL a partir de los datos de melbourne:

melb_df.to_sql('melb', con=engine, if_exists='replace')

#### Airbnb

In [ ]:
#Se genera un dataframe a partir de la lectura del csv de datos de airbnb.

airbnb_df = pd.read_csv('https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/cleansed_listings_dec18.csv')


#Luego se realiza una breve inspección de los datos:

airbnb_df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (35,77) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,neighborhood_overview,notes,...,review_scores_location,review_scores_value,requires_license,license,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,9835,https://www.airbnb.com/rooms/9835,2.018120e+13,12/7/2018,Beautiful Room & House,NaN,"House: Clean, New, Modern, Quite, Safe. 10Km f...","House: Clean, New, Modern, Quite, Safe. 10Km f...",Very safe! Family oriented. Older age group.,NaN,...,9.0,9.0,f,NaN,f,strict_14_with_grace_period,f,f,1,0.04
1,10803,https://www.airbnb.com/rooms/10803,2.018120e+13,12/7/2018,Room in Cool Deco Apartment in Brunswick,A large air conditioned room with queen spring...,The apartment is Deco/Edwardian in style and h...,A large air conditioned room with queen spring...,This hip area is a crossroads between two grea...,NaN,...,9.0,9.0,f,NaN,t,moderate,t,t,1,1.50
2,12936,https://www.airbnb.com/rooms/12936,2.018120e+13,12/7/2018,St Kilda 1BR APT+BEACHSIDE+VIEWS+PARKING+WIFI+AC,RIGHT IN THE HEART OF ST KILDA! It doesn't get...,FREE WiFi FREE in-building remote controlled g...,RIGHT IN THE HEART OF ST KILDA! It doesn't get...,A stay at our apartment means you can enjoy so...,First floor apartment with both lift and stair...,...,9.0,9.0,f,NaN,f,strict_14_with_grace_period,f,f,17,0.15
3,15246,https://www.airbnb.com/rooms/15246,2.018120e+13,12/7/2018,Large private room-close to city,"Comfortable, relaxed house, a home away from ...",The atmosphere is relaxed and easy going. You ...,"Comfortable, relaxed house, a home away from ...","This is a great neighbourhood – it is quiet, y...",A simple self service breakfast is available –...,...,9.0,9.0,f,NaN,f,moderate,f,f,3,0.30
4,16760,https://www.airbnb.com/rooms/16760,2.018120e+13,12/7/2018,Melbourne BnB near City & Sports,NaN,We offer comfortable accommodation in Inner Me...,We offer comfortable accommodation in Inner Me...,NaN,NaN,...,10.0,9.0,f,NaN,f,moderate,f,f,1,0.74

In [ ]:
#Se imprime la cantidad de columnas y filas del dataset de AirBnb.
print(f'El data set de Airbnb tiene {airbnb_df.shape[1]} columnas y {airbnb_df.shape[0]} filas u observaciones')

El data set de Airbnb tiene 84 columnas y 22895 filas u observaciones

In [ ]:
# Inspeccionamos de forma sencilla las columnas y el tipo de datos almacenas en cada una de ellas.
print('Columnas en airbnb_df\n')
with pd.option_context('display.max_rows', None):
  print(airbnb_df.dtypes)

Columnas en airbnb_df

id                                    int64
listing_url                          object
scrape_id                           float64
last_scraped                         object
name                                 object
summary                              object
space                                object
description                          object
neighborhood_overview                object
notes                                object
transit                              object
access                               object
interaction                          object
house_rules                          object
picture_url                          object
host_id                               int64
host_url                             object
host_name                            object
host_since                           object
host_location                        object
host_about                           object
host_response_time                   object
host_response_rate                   object
host_is_superhost                    object
host_thumbnail_url                   object
host_picture_url                     object
host_neighborhood                    object
host_verifications                   object
host_has_profile_pic                 object
host_identity_verified               object
street                               object
neighborhood                         object
city                                 object
suburb                               object
state                                object
zipcode                              object
smart_location                       object
country_code                         object
country                              object
latitude                            float64
longitude                           float64
is_location_exact                    object
property_type                        object
room_type                            object
accommodates                          int64
bathrooms                           float64
bedrooms                            float64
beds                                float64
bed_type                             object
amenities                            object
price                                 int64
weekly_price                        float64
monthly_price                       float64
security_deposit                    float64
cleaning_fee                        float64
guests_included                       int64
extra_people                          int64
minimum_nights                        int64
maximum_nights                        int64
calendar_updated                     object
has_availability                     object
availability_30                       int64
availability_60                       int64
availability_90                       int64
availability_365                      int64
calendar_last_scraped                object
number_of_reviews                     int64
first_review                         object
last_review                          object
review_scores_rating                float64
review_scores_accuracy              float64
review_scores_cleanliness           float64
review_scores_checkin               float64
review_scores_communication         float64
review_scores_location              float64
review_scores_value                 float64
requires_license                     object
license                              object
instant_bookable                     object
cancellation_policy                  object
require_guest_profile_picture        object
require_guest_phone_verification     object
calculated_host_listings_count        int64
reviews_per_month                   float64
dtype: object

In [ ]:
#Se procede a generar la tabla airbnb a partir de los datos de airbnb_df:
airbnb_df.to_sql('airbnb', con=engine, if_exists='replace')

#### 1.3. Implementar consultas en SQL que respondan con la siguiente información:
 

*   Cantidad de registros totales por ciudad.
*   Cantidad de registros totales por barrio y ciudad.

Cantidad de registros totales por ciudad.

In [ ]:
query_1 = '''

SELECT city, COUNT(*) as xxx
FROM airbnb
GROUP BY city
'''

with engine.connect() as connection:
    result = connection.execute(query_1)
    for row in result:
       print(row)

('Banyule', 203)
('Bayside', 375)
('Boroondara', 664)
('Brimbank', 108)
('Cardinia', 123)
('Casey', 153)
('Darebin', 698)
('Frankston', 177)
('Glen Eira', 631)
('Greater Dandenong', 147)
('Hobsons Bay', 239)
('Hume', 170)
('Kingston', 309)
('Knox', 175)
('Manningham', 313)
('Maribyrnong', 436)
('Maroondah', 115)
('Melbourne', 7368)
('Melton', 95)
('Monash', 571)
('Moonee Valley', 344)
('Moreland', 967)
('Nillumbik', 88)
('Port Phillip', 2808)
('Stonnington', 1621)
('Whitehorse', 614)
('Whittlesea', 137)
('Wyndham', 426)
('Yarra', 2049)
('Yarra Ranges', 771)

Cantidad de registros totales por barrio y ciudad.

In [ ]:
query_2 = '''
SELECT city, neighborhood, COUNT(*)
FROM airbnb
GROUP BY city, neighborhood
'''

with engine.connect() as connection:
    result = connection.execute(query_2)
    for row in result:
       print(row)

('Banyule', None, 174)
('Banyule', 'Alphington', 16)
('Banyule', 'Preston', 8)
('Banyule', 'Thornbury', 5)
('Bayside', None, 170)
('Bayside', 'Bentleigh', 1)
('Bayside', 'Brighton', 203)
('Bayside', 'Elwood', 1)
('Boroondara', None, 30)
('Boroondara', 'Ashburton', 14)
('Boroondara', 'Balwyn', 70)
('Boroondara', 'Balwyn North', 40)
('Boroondara', 'Camberwell', 82)
('Boroondara', 'Canterbury', 24)
('Boroondara', 'Glen Iris', 32)
('Boroondara', 'Hawthorn', 261)
('Boroondara', 'Kew', 109)
('Boroondara', 'Malvern', 2)
('Brimbank', None, 108)
('Cardinia', None, 123)
('Casey', None, 153)
('Darebin', None, 112)
('Darebin', 'Alphington', 22)
('Darebin', 'Coburg', 4)
('Darebin', 'Northcote', 303)
('Darebin', 'Preston', 156)
('Darebin', 'Thornbury', 101)
('Frankston', None, 177)
('Glen Eira', None, 33)
('Glen Eira', 'Balaclava/Ripponlea', 2)
('Glen Eira', 'Bentleigh', 84)
('Glen Eira', 'Brighton', 2)
('Glen Eira', 'Carnegie', 126)
('Glen Eira', 'Caulfield', 299)
('Glen Eira', 'Ormond/McKinnon', 46)
('Glen Eira', 'St Kilda East', 39)
('Greater Dandenong', None, 147)
('Hobsons Bay', None, 90)
('Hobsons Bay', 'Newport', 45)
('Hobsons Bay', 'Spotswood/South Kingsville', 23)
('Hobsons Bay', 'Williamstown', 75)
('Hobsons Bay', 'Yarraville/Seddon', 6)
('Hume', None, 170)
('Kingston', None, 292)
('Kingston', 'Bentleigh', 17)
('Knox', None, 175)
('Manningham', None, 296)
('Manningham', 'Balwyn North', 17)
('Maribyrnong', None, 57)
('Maribyrnong', 'Footscray', 253)
('Maribyrnong', 'Yarraville/Seddon', 126)
('Maroondah', None, 115)
('Melbourne', None, 241)
('Melbourne', 'Brunswick', 7)
('Melbourne', 'Carlton', 582)
('Melbourne', 'Carlton North', 10)
('Melbourne', 'Central Business District', 3726)
('Melbourne', 'Docklands', 576)
('Melbourne', 'East Melbourne', 180)
('Melbourne', 'Flemington', 12)
('Melbourne', 'Kensington', 107)
('Melbourne', 'North Melbourne', 290)
('Melbourne', 'Parkville', 85)
('Melbourne', 'Port Melbourne', 8)
('Melbourne', 'Prahran/Windsor', 35)
('Melbourne', 'South Melbourne', 1)
('Melbourne', 'South Wharf', 24)
('Melbourne', 'South Yarra', 161)
('Melbourne', 'Southbank', 1204)
('Melbourne', 'West Melbourne', 119)
('Melton', None, 95)
('Monash', None, 516)
('Monash', 'Ashburton', 4)
('Monash', 'Bentleigh', 5)
('Monash', 'Carnegie', 24)
('Monash', 'Glen Iris', 5)
('Monash', 'Malvern East', 17)
('Moonee Valley', None, 144)
('Moonee Valley', 'Brunswick', 33)
('Moonee Valley', 'Flemington', 166)
('Moonee Valley', 'Kensington', 1)
('Moreland', None, 136)
('Moreland', 'Brunswick', 681)
('Moreland', 'Coburg', 144)
('Moreland', 'Fitzroy North', 6)
('Nillumbik', None, 88)
('Port Phillip', None, 125)
('Port Phillip', 'Albert Park', 74)
('Port Phillip', 'Balaclava/Ripponlea', 141)
('Port Phillip', 'Elwood', 308)
('Port Phillip', 'Middle Park', 50)
('Port Phillip', 'Port Melbourne', 243)
('Port Phillip', 'Prahran/Windsor', 156)
('Port Phillip', 'South Melbourne', 291)
('Port Phillip', 'South Yarra', 133)
('Port Phillip', 'Southbank', 44)
('Port Phillip', 'St Kilda', 1082)
('Port Phillip', 'St Kilda East', 159)
('Port Phillip', 'Windsor', 2)
('Stonnington', None, 62)
('Stonnington', 'Armadale', 71)
('Stonnington', 'Caulfield', 3)
('Stonnington', 'Glen Iris', 44)
('Stonnington', 'Malvern', 34)
('Stonnington', 'Malvern East', 100)
('Stonnington', 'Prahran', 257)
('Stonnington', 'Prahran/Windsor', 4)
('Stonnington', 'South Yarra', 759)
('Stonnington', 'St Kilda', 3)
('Stonnington', 'St Kilda East', 2)
('Stonnington', 'Toorak', 117)
('Stonnington', 'Windsor', 165)
('Whitehorse', None, 574)
('Whitehorse', 'Balwyn', 25)
('Whitehorse', 'Balwyn North', 4)
('Whitehorse', 'Camberwell', 10)
('Whitehorse', 'Glen Iris', 1)
('Whittlesea', None, 137)
('Wyndham', None, 426)
('Yarra', None, 76)
('Yarra', 'Abbotsford', 254)
('Yarra', 'Alphington', 16)
('Yarra', 'Brunswick', 7)
('Yarra', 'Burnley', 56)
('Yarra', 'Carlton', 3)
('Yarra', 'Carlton North', 128)
('Yarra', 'Clifton Hill', 59)
('Yarra', 'Collingwood', 283)
('Yarra', 'East Melbourne', 8)
('Yarra', 'Fitzroy', 381)
('Yarra', 'Fitzroy North', 225)
('Yarra', 'Northcote', 6)
('Yarra', 'Richmond', 547)
('Yarra Ranges', None, 771)

---
####1.4. Combinar los datasets de ambas tablas ingestadas utilizando el comando JOIN de SQL  para obtener un resultado similar a lo realizado con Pandas en clase.

In [ ]:
#Genero la consulta JOIN de SQL:

query = '''

SELECT *
FROM melb LEFT JOIN airbnb ON Postcode = zipcode
LIMIT 10
'''
#A fin de que este bloque se ejecute lo más rápidamente posible se incorporó el statement LIMIT 10 al final de la última consulta. 
#Para lograr un LEFT JOIN completo de las dos tablas es necesario quitar ese statement.

#Ejecuto la consulta:
with engine.connect() as connection:
    result = connection.execute(query)
    for row in result:
      print(row)

(0, 'Abbotsford', '85 Turner St', 2, 'h', 1480000.0, 'S', 'Biggin', '3/12/2016', 2.5, 3067.0, 2.0, 1.0, 1.0, 202.0, None, None, 'Yarra', -37.7996, 144.9984, 'Northern Metropolitan', 4019.0, 96, 310594, 'https://www.airbnb.com/rooms/310594', 20181200000000.0, '12/7/2018', 'Cosy nest in vibrant eclectic area', 'This is a space to enjoy, a place to come and read a little, dream a little, reflect a little. It is light, quirky, and quiet, only a stones through  ... (187 characters truncated) ... t the same time you can go home and shut the door on it all. This is my home with the trappings of home;  books, space to draw, paint, play and cook.', 'Designed by its architect owner, a property as restorative as this is rare, in Melbourne’s densifying inner city. This one-of-a-kind residence regene ... (701 characters truncated) ...  studio, opening onto a lushgarden; first floor deck, living and dining and a mezzanine second floor, hanger bedroom. With underfloor heating and all', 'This is a space to enjoy, a place to come and read a little, dream a little, reflect a little. It is light, quirky, and quiet, only a stones through  ... (702 characters truncated) ... ome of Melbourne’s most celebrated bar’s and eateries. The Everleigh, Culter & Co, Saint Crispin, Huxtaburger, Po Boy Quarter, Forester’s Pub & Dinin', 'I love Abbotsford for its mix of local characters. There is no describable demographic but a wide range of ages, ethnicities and socio economic backg ... (167 characters truncated) ... tique beer and designer icecream all within walking distance. Then you can  go home and relax in your own little nest, in this quiet backstreet/lane.', None, 'Train, tram, and bus are all within walking distance. This is a very bike friendly area with both off road and on road bike tracks at the front door. ... (36 characters truncated) ... ner who has been known to hire out a bike or two. Parking is not available in Little Charles street but off street parking can be arranged if needed.', 'Guests have the run of this 2.5 story house and garden. There is a gas kiln outside which can be used by arrangement.', 'Guests have full privacy. I like to meet guests on arrival where possible so they can ask any questions and then you are on your own.', 'Please look after the house and it will look after you. Water the garden occassionally, put the rubbish out once a week on Monday night and you need to bring the bin (garbage cans) in off the street or the council will fine me. The house only caters for two people who share a bed!', 'https://a0.muscache.com/im/pictures/3325374/b01fbd88_original.jpg?aki_policy=large', 1597828, 'https://www.airbnb.com/users/show/1597828', 'Bridget', '1/12/2012', 'Melbourne, Victoria, Australia', 'An observer I love both wild natural places and fast cities. I love to travel and am currently working quite often in country areas, which allows me  ... (197 characters truncated) ... e city near the river and there are lots of places to walk both along the river (bush) or different urbanscapes ( Collingwood, Fitzroy and the city).', 'within an hour', '100%', 't', 'https://a0.muscache.com/im/users/1597828/profile_pic/1326359372/original.jpg?aki_policy=profile_small', 'https://a0.muscache.com/im/users/1597828/profile_pic/1326359372/original.jpg?aki_policy=profile_x_medium', 'Abbotsford', "['email', 'phone', 'reviews']", 't', 'f', 'Abbotsford, VIC, Australia', 'Abbotsford', 'Yarra', 'Abbotsford', 'VIC', '3067', 'Abbotsford, Australia', 'AU', 'Australia', -37.80523392, 144.9951794, 't', 'House', 'Entire home/apt', 2, 1.0, 1.0, 1.0, 'Real Bed', '{TV,Internet,Wifi,Kitchen,"Pets live on this property",Dog(s),Heating,Washer,Dryer,"Smoke detector","Fire extinguisher",Essentials,Shampoo,"24-hour c ... (137 characters truncated) ... ing_amenity_50","Self check-in",Lockbox,"Private entrance","Hot water","BBQ grill","Patio or balcony","Garden or backyard","Luggage dropoff allowed"}', 125, 1100.0, None, 200.0, 50.0, 1, 0, 2, 21, '4 days ago', 't', 0, 20, 50, 138, '12/7/2018', 118, '1/23/2012', '12/2/2018', 97.0, 10.0, 9.0, 10.0, 10.0, 10.0, 10.0, 'f', None, 'f', 'moderate', 'f', 'f', 1, 1.41)
(0, 'Abbotsford', '85 Turner St', 2, 'h', 1480000.0, 'S', 'Biggin', '3/12/2016', 2.5, 3067.0, 2.0, 1.0, 1.0, 202.0, None, None, 'Yarra', -37.7996, 144.9984, 'Northern Metropolitan', 4019.0, 223, 728162, 'https://www.airbnb.com/rooms/728162', 20181200000000.0, '12/7/2018', 'Melb Inner City 4 bed house', None, "Melbourne Inner city living at its very best!! Be in the heart of all the action yet in this beautifully renovated four bedroom home you'll be surrou ... (702 characters truncated) ... bed in each of the two other bedrooms. The lounge can convert into a comfortable double bed in one of two lounge rooms, family bathroom with full siz", "Melbourne Inner city living at its very best!! Be in the heart of all the action yet in this beautifully renovated four bedroom home you'll be surrou ... (702 characters truncated) ... bed in each of the two other bedrooms. The lounge can convert into a comfortable double bed in one of two lounge rooms, family bathroom with full siz", None, None, None, None, None, 'No pets or smoking.', 'https://a0.muscache.com/im/pictures/9919422/2f5f0b2b_original.jpg?aki_policy=large', 3776061, 'https://www.airbnb.com/users/show/3776061', 'Tracy', '10/6/2012', 'Melbourne, Victoria, Australia', 'Welcome to Melbourne! The best place to stay to make the most of the city - Melbourne Inner city living at its very best!!', None, None, 'f', 'https://a0.muscache.com/im/users/3776061/profile_pic/1349524442/original.jpg?aki_policy=profile_small', 'https://a0.muscache.com/im/users/3776061/profile_pic/1349524442/original.jpg?aki_policy=profile_x_medium', 'Abbotsford', "['email', 'phone', 'reviews']", 't', 'f', 'Abbotsford, VIC, Australia', 'Abbotsford', 'Yarra', 'Abbotsford', 'VIC', '3067', 'Abbotsford, Australia', 'AU', 'Australia', -37.8033889, 144.994541, 't', 'House', 'Entire home/apt', 7, 2.0, 4.0, 6.0, 'Real Bed', '{TV,Wifi,Kitchen,"Indoor fireplace",Heating,"Family/kid friendly",Washer,Dryer}', 400, 2085.0, None, 1000.0, 100.0, 1, 0, 7, 30, '20 months ago', 't', 0, 0, 0, 0, '12/7/2018', 4, '2/1/2013', '1/25/2016', 95.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 'f', None, 'f', 'strict_14_with_grace_period', 'f', 'f', 1, 0.06)
(0, 'Abbotsford', '85 Turner St', 2, 'h', 1480000.0, 'S', 'Biggin', '3/12/2016', 2.5, 3067.0, 2.0, 1.0, 1.0, 202.0, None, None, 'Yarra', -37.7996, 144.9984, 'Northern Metropolitan', 4019.0, 304, 938326, 'https://www.airbnb.com/rooms/938326', 20181200000000.0, '12/7/2018', 'Quiet, inner-city garden room.', 'Set in a relaxing, bright city garden, complete with towering palm and an abundant orange tree, the room is separate from the main house, and has access to another separate bathroom/laundry. The room has a comfortable queen bed and plenty of storage.', "Hello! We have a lovely and private room available to lovely travellers from anywhere in the world. The room is detached from the house, and has acce ... (702 characters truncated) ...  put some bread in for the first morning, too, and sometimes it will have been baked by us. We don't have coffee, because there are so many amazing c", "Set in a relaxing, bright city garden, complete with towering palm and an abundant orange tree, the room is separate from the main house, and has acc ... (702 characters truncated) ... travel cot that we can set up in the room, and can put some bedding on it, too, but it's probably best to bring some of your own. We are happy to pro", "Within a minute or two walk are several excellent cafes: Admiral Cheng-Ho, Dr Morse, and Mavis the Grocer. There are three great pubs that also do ho ... (346 characters truncated) ... treet being Melbourne's foremost destination for Vietnamese cuisine, and Smith and Brunswick street having some of Melbourne's trendiest restaurants.", "Our boy is very much a typical toddler, and can from time-to-time be an early riser, so you might hear the occasional outburst from him at 6am - we'll do our best to keep him asleep, for our own sake's as much as anything!", "Victoria Park station is at the end of the street (don't worry, you won't be bothered by train noise!), and a train into the city takes about 10-12 m ... (15 characters truncated) ... are also regular buses that travel along Johnston st and take you past Smith (5-7 minutes), Brunswick (7-9 minutes) and Lygon street (12-15 minutes).", 'The room has its own secure access, so you can come and go as you please without worrying about bothering anyone.', "We are very friendly, but know when to give people space. However, we love spreading our knowledge of our beloved city, and are happy to be on hand t ... (4 characters truncated) ... ve advice or help out where we can. Also, our son is totally outgoing, and is always up for a play session in the backyard with anyone who's willing!", 'We would just ask that people leave their space clean when vacating, and be considerate of us and our neighbours.', 'https://a0.muscache.com/im/pictures/4c101896-66f5-40c2-b0bd-46cac7c518e3.jpg?aki_policy=large', 5067558, 'https://www.airbnb.com/users/show/5067558', 'Joe', '2/12/2013', 'Melbourne, Victoria, Australia', 'I\'m early-thirties, working in higher education. I live with my partner of ten years, Mantra, who is a fashion designer, and our beautiful new son,  ... (270 characters truncated) ... exercises always seem like a special kind of torture, so I\'ll leave it at that. Happy to answer any specific questions you might have of me, though!', None, None, 'f', 'https://a0.muscache.com/im/users/5067558/profile_pic/1431314510/original.jpg?aki_policy=profile_small', 'https://a0.muscache.com/im/users/5067558/profile_pic/1431314510/original.jpg?aki_policy=profile_x_medium', None, "['email', 'phone', 'facebook', 'reviews']", 't', 'f', 'Abbotsford, VIC, Australia', 'Abbotsford', 'Yarra', 'Abbotsford', 'VIC', '3067', 'Abbotsford, Australia', 'AU', 'Australia', -37.79828105, 144.999041, 't', 'House', 'Private room', 2, 1.0, 1.0, 1.0, 'Real Bed', '{Internet,Wifi,"Free parking on premises","Smoking allowed",Breakfast,"Pets live on this property",Heating,"Family/kid friendly",Washer,Dryer,"Smoke detector","Carbon monoxide detector","First aid kit",Essentials,Shampoo,"Lock on bedroom door","24-hour check-in",Hangers,"Hair dryer",Iron}', 84, 400.0, None, None, 25.0, 1, 0, 2, 30, '15 months ago', 't', 0, 0, 0, 0, '12/7/2018', 16, '6/25/2016', '9/4/2017', 93.0, 10.0, 10.0, 10.0, 9.0, 10.0, 10.0, 'f', None, 't', 'moderate', 'f', 'f', 1, 0.54)
(0, 'Abbotsford', '85 Turner St', 2, 'h', 1480000.0, 'S', 'Biggin', '3/12/2016', 2.5, 3067.0, 2.0, 1.0, 1.0, 202.0, None, None, 'Yarra', -37.7996, 144.9984, 'Northern Metropolitan', 4019.0, 565, 1837433, 'https://www.airbnb.com/rooms/1837433', 20181200000000.0, '12/7/2018', 'Comfortable room in great location', 'Cosy furnished single bedroom in a retro flat. Shared comfortable lounge, kitchen, bathroom & laundry. Busy street, double-glazed windows. Close to V ... (55 characters truncated) ... d Johnston Streets Fitzroy, many public transport options, restaurants, cafes, parks etc. Short drive to Eastern Freeway, Monash Freeway and the City', 'Comfortable and clean. Suitable for one person. Inc morning breakfast (cereal, toast, juice, tea/coffee). Discount for week-long stay. Ideal for city ... (198 characters truncated) ...  looking at Melbourne education facility options for future enrolment (RMIT, Melbourne Uni, NMIT, Prahran campus Melbourne Polytechnic, Swinburn etc)', 'Cosy furnished single bedroom in a retro flat. Shared comfortable lounge, kitchen, bathroom & laundry. Busy street, double-glazed windows. Close to V ... (702 characters truncated) ... Own bedroom, single bed inc linen, clothes rail, drawers, desk & chair. Living areas shared:  Lounge has couches, Freeview TV/DVD player/video player', 'Close to Smith St Collingwood, Brunswick St Fitzroy and Victoria St Richmond Nth. Ideal for access to the City. Many public transport options. Post O ... (174 characters truncated) ... ps, services and restaurants. Smith St is a bit further, with a supermarket, banks, post office, and many cafés, restaurants and diverse funky shops.', 'Guests to be AirBnB members only, and the person making the booking is the sole guest - please do not book on behalf of others, thank you.  Maximum s ... (108 characters truncated) ... elbourne for longer than one month or the time period you have booked for, please arrange your ongoing accommodation elsewhere beforehand, thank you.', "Close to Collingwood and North Richmond railway stations, Hoddle St bus services, Victoria St tram services. City is walking distance if you're feeling energetic.", "Own bedroom, single bed inc linen, clothes rail, drawers, desk & chair. Living areas shared:  Lounge has couches, Freeview TV/DVD player/video player ... (455 characters truncated) ... brick, the insulation this and the double glazing provides curtailing some of the variable exterior temperature Melbourne may be subject to annually.", 'I\'m friendly but private and pretty busy, respectful of others\' "space"; you\'ll have the opportunity for a quiet stay. This is my own home, I\'ve put a lot of personal work into the renovation (ongoing as opportunity presents), and I love the place. Conscientious guests will be welcome.', "No pets thanks. No extra guests thanks - suitable for one person only. No smoking preferred, or smoking only outside (please inform me if you intend  ... (275 characters truncated) ... ial issues please.  (Gentlemen, as it's a shared bathroom, for everyone's comfort please return toilet seat to down when you're finished, thank you.)", 'https://a0.muscache.com/im/pictures/29797724/55282182_original.jpg?aki_policy=large', 9605997, 'https://www.airbnb.com/users/show/9605997', 'Kerrie', '10/24/2013', 'Melbourne, Victoria, Australia', 'Quiet, busy, music fan, film fan, graduate, freelancer. I lived in London for 5 years.', None, None, 'f', 'https://a0.muscache.com/im/users/9605997/profile_pic/1384865658/original.jpg?aki_policy=profile_small', 'https://a0.muscache.com/im/users/9605997/profile_pic/1384865658/original.jpg?aki_policy=profile_x_medium', 'Abbotsford', "['email', 'phone', 'reviews', 'jumio', 'government_id']", 't', 't', 'Abbotsford, VIC, Australia', 'Abbotsford', 'Yarra', 'Abbotsford', 'VIC', '3067', 'Abbotsford, Australia', 'AU', 'Australia', -37.80549048, 144.9929162, 't', 'Apartment', 'Private room', 1, 1.0, 1.0, 1.0, 'Real Bed', '{TV,Internet,Wifi,Kitchen,Breakfast,Heating,Washer,"Smoke detector",Essentials,Shampoo,"translation missing: en.hosting_amenity_49","translation missing: en.hosting_amenity_50"}', 60, 300.0, 1000.0, None, 10.0, 1, 0, 1, 17, '5 months ago', 't', 0, 4, 34, 309, '12/7/2018', 22, '1/11/2014', '4/7/2017', 91.0, 9.0, 9.0, 10.0, 9.0, 9.0, 9.0, 'f', None, 'f', 'flexible', 'f', 'f', 1, 0.37)
(0, 'Abbotsford', '85 Turner St', 2, 'h', 1480000.0, 'S', 'Biggin', '3/12/2016', 2.5, 3067.0, 2.0, 1.0, 1.0, 202.0, None, None, 'Yarra', -37.7996, 144.9984, 'Northern Metropolitan', 4019.0, 627, 2004786, 'https://www.airbnb.com/rooms/2004786', 20181200000000.0, '12/7/2018', 'Large Queen Bedroom | Covered Park | 12 min 2 City', "My place is close to the Yarra River and the famous Abbotsford Convent. You’ll love my place because the area is green, safe and quiet and only 12 mi ... (127 characters truncated) ... rking on the safe street outside. There is a massive bathroom and separate toilet. My place is good for couples, business travellers, and big groups.", 'Our modern, spacious three bedroom, two bathroom (separate bathroom and toilet) house has a gas stove and oven, balcony and a patio outdoor area.  In ... (19 characters truncated) ...  is the green playfield of Victoria Park, behind the Yarra river and the capital city trail/bike path. The neighbourhood is safe, friendly and quiet.', "My place is close to the Yarra River and the famous Abbotsford Convent. You’ll love my place because the area is green, safe and quiet and only 12 mi ... (702 characters truncated) ... ng space. Desk, chair and lamp provided. IGA 4 mins walk. Woolworths, ALDI and a large shopping center 15 min walk. Yarra river and Yarra Bend Park a", 'IGA 4 mins walk. Woolworths, ALDI and a large shopping center 15 min walk. Yarra river and Yarra Bend Park and Captial City Trail 2 min walk. Abbotsford Convent 5 min walk. Free parking outside.', 'House is three stories high. I am rarely home and often do not sleep at the house.', 'On double train line with 24 hour service and trains every 10 mins. Takes 8 mins to Melbourne CBD, station just 5 minute pleasant walk from house. Also on many 24 hour bus routes from the CBD and all over Melbourne.', 'Large built in double wardrobe. Excellent quality Queen Bed. Room comes with secure covered gated car parking space. Desk, chair and lamp provided.', None, "- Front door must be locked with key after leaving and entering  - Shoes off at front door - Turn on shower extraction fan when having a shower - Lig ... (318 characters truncated) ... room and toilet door open (so other people know it's free!) - Electric heaters in every room but excessive use not included (due to electricity cost)", 'https://a0.muscache.com/im/pictures/8b5ef6f7-d72f-449f-a052-f70c96844434.jpg?aki_policy=large', 7468328, 'https://www.airbnb.com/users/show/7468328', 'Andy', '7/14/2013', 'Melbourne, Victoria, Australia', 'See (Website hidden by Airbnb) / andycs', None, None, 'f', 'https://a0.muscache.com/im/pictures/user/a8a897cf-c631-4652-af8a-661b96f64fcc.jpg?aki_policy=profile_small', 'https://a0.muscache.com/im/pictures/user/a8a897cf-c631-4652-af8a-661b96f64fcc.jpg?aki_policy=profile_x_medium', 'Abbotsford', "['email', 'phone', 'reviews', 'jumio', 'government_id']", 't', 't', 'Abbotsford, VIC, Australia', 'Abbotsford', 'Yarra', 'Abbotsford', 'VIC', '3067', 'Abbotsford, Australia', 'AU', 'Australia', -37.79907667, 144.9990543, 't', 'House', 'Private room', 2, 1.0, 1.0, 1.0, 'Real Bed', '{Internet,Wifi,Kitchen,"Free parking on premises",Heating,Washer,Dryer,"Smoke detector","Fire extinguisher",Essentials,"translation missing: en.hosting_amenity_49","translation missing: en.hosting_amenity_50"}', 57, 344.0, 1217.0, 300.0, 30.0, 1, 13, 6, 1125, '17 months ago', 't', 0, 0, 0, 0, '12/7/2018', 1, '2/1/2017', '2/1/2017', 100.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 'f', None, 'f', 'strict_14_with_grace_period', 'f', 'f', 2, 0.04)

---
## Ejercicio 2:

#### 2.1. Seleccionar un subconjunto de columnas que les parezcan relevantes al problema de predicción del valor de la propiedad. Justificar las columnas seleccionadas y las que no lo fueron.
 - Eliminar los valores extremos que no sean relevantes para la predicción de valores de las propiedades.

In [ ]:
#Se genera un dataframe a partir de la lectura del csv de datos de melbourne:

melb_df = pd.read_csv('https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/melb_data.csv')

#Luego se realiza una breve inspeccion de los datos:

melb_df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [ ]:
#Primero voy a visualizar todas las columnas correspondientes:
melb_df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

La siguiente lista contiene las columnas que, según nuestro criterio, serán más relevantes en la creación de un modelo de predicción del precio:

*   Suburb
*   Rooms
*   Type
*   Price
*   Distance
*   Postcode
*   Landsize
*   BuildingArea
*   YearBuilt
*   Propertycount

Para el análisis de variables relevantes dividimos el total de características en tres grupos:

**Geografia subyacente a la propiedad**\
Se puede considerar como relevante a **suburb**, **distance**,**postcode**, **propertycount**, ya que son variables que pueden tener una influencia mayor en el precio de una propiedad, por un lado mas de practicidad, no consideramos que **address**, **regionname**, **councilarea** sean columnas relevantes para el análisis, ya que es un valor distinto para cada caso y no se puede agrupar para hacer un analisis mas general de los precios de las propiedades.
\
\
\
**Caracteristicas fisicas de la propiedad**\
Respecto a lo que hace a la propiedad en sí,se puede considerar como relevante **type**, **rooms**, **landsize**, **buildinarea**, **yearbuilt** y **car**, ya que son variables que pueden tener una mayor influencia en el precio de la propiedad. Por otro lado, consideramos que **bedroom2** y **bathroom** no son relevantes ya que pueden ser redudantes con la variable **rooms**, y se considera suficiente la informacion con esta ultima variable.
\
\
\
**Precio de la propiedad**\
**Price** es fundamental mantenerla dentro del dataset ya que en etapas posteriores del proyecto será necesaria para  entrenar y validar el modelo de predicción de precios.
Por otro lado, **method** y **sellerg** no consideramos que sean relevantes.

In [ ]:
# seleccionamos las columnas que mencionamos antes y subseteamos el df de melbourne para quedarnos solo con esas columnas
selected_cols = ['Suburb','Rooms','Type','Price','Distance','Postcode','Landsize','BuildingArea','YearBuilt','Propertycount']
melb_df_selected_cols = melb_df[selected_cols]
melb_df.shape, melb_df_selected_cols.shape

((13580, 21), (13580, 10))

####2.2. Agregar información adicional respectiva al entorno de una propiedad a partir del [conjunto de datos de AirBnB](https://www.kaggle.com/tylerx/melbourne-airbnb-open-data?select=cleansed_listings_dec18.csv) utilizado en el práctico.

In [ ]:
#Se genera un dataframe a partir de la lectura del csv de datos de airbnb.

interesting_cols = [ 'description', 'neighborhood_overview',
  'street', 'neighborhood', 'city', 'suburb', 'state', 'zipcode',
  'price', 'weekly_price', 'monthly_price',
  'latitude', 'longitude']


airbnb_df = pd.read_csv('https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/cleansed_listings_dec18.csv', usecols = interesting_cols)


#Luego se realiza una breve inspeccion de los datos:

airbnb_df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (35) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,description,neighborhood_overview,street,neighborhood,city,suburb,state,zipcode,latitude,longitude,price,weekly_price,monthly_price
0,"House: Clean, New, Modern, Quite, Safe. 10Km f...",Very safe! Family oriented. Older age group.,"Bulleen, VIC, Australia",Balwyn North,Manningham,Bulleen,VIC,3105,-37.772684,145.092133,60,NaN,NaN
1,A large air conditioned room with queen spring...,This hip area is a crossroads between two grea...,"Brunswick East, VIC, Australia",Brunswick,Moreland,Brunswick East,VIC,3057,-37.766505,144.980736,35,200.0,803.0
2,RIGHT IN THE HEART OF ST KILDA! It doesn't get...,A stay at our apartment means you can enjoy so...,"St Kilda, VIC, Australia",St Kilda,Port Phillip,St Kilda,VIC,3182,-37.859755,144.977369,159,1253.0,4452.0
3,"Comfortable, relaxed house, a home away from ...","This is a great neighbourhood – it is quiet, y...","Thornbury, VIC, Australia",Thornbury,Darebin,Thornbury,VIC,3071,-37.758971,144.989228,50,250.0,920.0
4,We offer comfortable accommodation in Inner Me...,NaN,"St Kilda East, VIC, Australia",St Kilda East,Port Phillip,St Kilda East,VIC,3183,-37.864530,144.992238,69,400.0,1900.0

In [ ]:
#Cantidad de filas y columnas de airbnb.
airbnb_df.shape

(22895, 13)

In [ ]:
#Cantidad de nulos por columna.
airbnb_df.isna().sum()

description                332
neighborhood_overview     8471
street                       0
neighborhood              5813
city                         0
suburb                      23
state                       61
zipcode                    142
latitude                     0
longitude                    0
price                        0
weekly_price             20371
monthly_price            21004
dtype: int64

#####2.2.1. Seleccionar qué variables agregar y qué combinaciones aplicar a cada una. Por ejemplo, pueden utilizar solo la columna `price`, o aplicar múltiples transformaciones como la mediana o el mínimo.
#####2.2.2. Utilizar la variable zipcode para unir los conjuntos de datos. Sólo incluir los zipcodes que tengan una cantidad mínima de registros (a elección) como para que la información agregada sea relevante.

In [ ]:
#Se estandarizan los datos:

airbnb_df['zipcode'] = pd.to_numeric(airbnb_df.zipcode, errors='coerce')


#Se obtiene la frecuencia de los zipcodes incluyendo solo los que tienen una
#frecuencia absoluta minima de 30:

airbnb_df.zipcode.value_counts().loc[lambda x : x>20]

3000.0    3367
3006.0    1268
3182.0    1135
3141.0     881
3004.0     728
          ...
3155.0      21
3047.0      21
3194.0      21
3140.0      21
3171.0      21
Name: zipcode, Length: 143, dtype: int64

In [ ]:
#Se suma la cantidad de zipcode registrados en los datos:

print('Cantidad de registros totales: ' + str(airbnb_df.zipcode.value_counts().sum()))



#Se suma la cantidad de zipcode con la frecuencia de 20:

print('Cantidad de zipcodes con mas de 20 registros: ' + str(airbnb_df.zipcode.value_counts().loc[lambda x : x>20].sum()))

print('\n')

total = airbnb_df.zipcode.value_counts().sum()
filtrado = airbnb_df.zipcode.value_counts().loc[lambda x : x>20].sum()


#Se obtiene el porcentaje del total:

print('Porcentaje de registros con el que se va a trabajar del total: ' + str(round(filtrado/total,2)*100) + '%' )

Cantidad de registros totales: 22749
Cantidad de zipcodes con mas de 20 registros: 21933


Porcentaje de registros con el que se va a trabajar del total: 96.0%

In [ ]:
#Se genera una lista con los valores con una frecuencia mayor a 20:

filtrado = airbnb_df.zipcode.value_counts().loc[lambda x : x>20].index.to_list()


#Se genera un nuevo dataframe con esta condicion filtrada:

airbnb_filtered_df = airbnb_df[airbnb_df['zipcode'].isin(filtrado)]


#Se comprueba que la cantidad filtrada sea igual a la obtenida anteriormente:

len(airbnb_filtered_df)

21933

In [ ]:
#Dataframe de airbnb unicamente con columnas zipcode y price.
prices_df = airbnb_filtered_df.groupby('zipcode', as_index=False).mean()[['zipcode','price']]
prices_df

     zipcode       price
0     3000.0  150.504307
1     3002.0  200.979695
2     3003.0  130.205993
3     3004.0  158.271978
4     3006.0  188.851735
..       ...         ...
138   3799.0  196.932584
139   3805.0  225.235294
140   3806.0  488.272727
141   3810.0   94.954545
142   3977.0   92.955556

[143 rows x 2 columns]

In [ ]:
#Se convierten la columna zipcode a numerica.
prices_df['zipcode'] = pd.to_numeric(prices_df.zipcode, errors='coerce')

In [ ]:
#Se realiza un merge entre melb_df y prices_df.
merge_df = melb_df_selected_cols.merge(prices_df, how = 'left', left_on = 'Postcode', right_on = 'zipcode')
merge_df

,Suburb,Rooms,Type,Price,Distance,Postcode,Landsize,BuildingArea,YearBuilt,Propertycount,zipcode,price
0,Abbotsford,2,h,1480000.0,2.5,3067.0,202.0,NaN,NaN,4019.0,3067.0,130.624031
1,Abbotsford,2,h,1035000.0,2.5,3067.0,156.0,79.0,1900.0,4019.0,3067.0,130.624031
2,Abbotsford,3,h,1465000.0,2.5,3067.0,134.0,150.0,1900.0,4019.0,3067.0,130.624031
3,Abbotsford,3,h,850000.0,2.5,3067.0,94.0,NaN,NaN,4019.0,3067.0,130.624031
4,Abbotsford,4,h,1600000.0,2.5,3067.0,120.0,142.0,2014.0,4019.0,3067.0,130.624031
...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,4,h,1245000.0,16.7,3150.0,652.0,NaN,1981.0,7392.0,3150.0,124.026455
13576,Williamstown,3,h,1031000.0,6.8,3016.0,333.0,133.0,1995.0,6380.0,3016.0,191.094595
13577,Williamstown,3,h,1170000.0,6.8,3016.0,436.0,NaN,1997.0,6380.0,3016.0,191.094595
13578,Williamstown,4,h,2500000.0,6.8,3016.0,866.0,157.0,1920.0,6380.0,3016.0,191.094595
13579,Yarraville,4,h,1285000.0,6.3,3013.0,362.0,112.0,1920.0,6543.0,3013.0,135.609756

In [ ]:
#Se contea la cantidad de precios mayores a cero.
merge_df[merge_df.price > 0][['price']].count()

price    12129
dtype: int64

In [ ]:
#Se visualiza la cantidad de nulos por columna.
merge_df.isna().sum()

Suburb              0
Rooms               0
Type                0
Price               0
Distance            0
Postcode            0
Landsize            0
BuildingArea     6450
YearBuilt        5375
Propertycount       0
zipcode          1451
price            1451
dtype: int64

In [ ]:
#Se realiza una interseccion entre los valores unicos de zipcode de airbnb y los valores unicos de postcode de melbourne.
intersection = np.intersect1d(
    airbnb_filtered_df.zipcode.values, melb_df.Postcode.values, assume_unique=False)
print("Airbnb unique zipcodes", len(airbnb_filtered_df.zipcode.unique()))
print("Sales unique zipcodes", len(melb_df.Postcode.unique()))
print("Common zipcodes", len(intersection))

Airbnb unique zipcodes 143
Sales unique zipcodes 198
Common zipcodes 132

##### 2.3. Investigar al menos otras 2 variables que puedan servir para combinar los datos, y justificar si serían adecuadas o no. Pueden asumir que cuentan con la ayuda de anotadores expertos para encontrar equivalencias entre barrios o direcciones, o que cuentan con algoritmos para encontrar las n ubicaciones más cercanas a una propiedad a partir de sus coordenadas geográficas. **NO** es necesario que realicen la implementación.

Se piensan dos enfoques para esta respuesta:

*   Suburb. La columna Suburb también podría ser usada para combinar los datos de los datasets de Melbourne y Airbnb ya que ambos datasets contienen información sobre el barrio en donde se encuentran las propiedades. La ventaja de utilizar este variable es que no habría que hacer un pretrtamiento de los datos.

*  Latitud y Longitud. Estas variables podrían ser usadas para identificar la zona en la que se encuentran las propiedades. A diferencia del caso anterior, antes de utilizar estas columnas deberíamos hacer un pretratamiento de los datos y definir regiones utilizando los datos de Latitud y Longitud. Luego de hacer ese tratamiento en ambos datasets podría ser posible combinar los datos de ambos.

## Ejercicio 3:

Crear y guardar un nuevo conjunto de datos con todas las transformaciones realizadas anteriormente.

In [ ]:
#Se convierte el dataframe en un csv:

merge_df.to_csv('merge_df.csv', index = False)

In [ ]:
# Se descarga el archivo:

from google.colab import files

files.download('merge_df.csv')

## Ejercicios opcionales:

1. Armar un script en python (archivo .py) [ETL](https://towardsdatascience.com/what-to-log-from-python-etl-pipelines-9e0cfe29950e) que corra los pasos de extraccion, transformacion y carga, armando una funcion para cada etapa del proceso y luego un main que corra todos los pasos requeridos.

2. Armar un DAG en Apache Airflow que corra el ETL. (https://airflow.apache.org/docs/apache-airflow/stable/tutorial.html)